<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="district">
      <h2 data-cy="districtDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationDistrict.detail.title">District</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ district.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationDistrict.districtId">District Id</span></dt>
        <dd>
          <span>{{ district.districtId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationDistrict.districtCode">District Code</span></dt>
        <dd>
          <span>{{ district.districtCode }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationDistrict.districtName">District Name</span></dt>
        <dd>
          <span>{{ district.districtName }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationDistrict.districtEnglishName"
            >District English Name</span
          >
        </dt>
        <dd>
          <span>{{ district.districtEnglishName }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationDistrict.county">County</span></dt>
        <dd>
          <div *ngIf="district.county">
            <a [routerLink]="['/county', district.county?.id, 'view']">{{ district.county?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/jhipstersampleapplication/district', district.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
