<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="province">
      <h2 data-cy="provinceDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.detail.title">Province</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ province.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.provinceId">Province Id</span></dt>
        <dd>
          <span>{{ province.provinceId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.provinceCode">Province Code</span></dt>
        <dd>
          <span>{{ province.provinceCode }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.provinceName">Province Name</span></dt>
        <dd>
          <span>{{ province.provinceName }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.provinceEnglishName"
            >Province English Name</span
          >
        </dt>
        <dd>
          <span>{{ province.provinceEnglishName }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.diallingCode">Dialling Code</span></dt>
        <dd>
          <span>{{ province.diallingCode }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.country">Country</span></dt>
        <dd>
          <div *ngIf="province.country">
            <a [routerLink]="['/country', province.country?.id, 'view']">{{ province.country?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/jhipstersampleapplication/province', province.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
