<div>
  <h2 id="page-heading" data-cy="ProvinceHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.home.title">Provinces</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-province"
        [routerLink]="['/jhipstersampleapplication/province/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.home.createLabel"> Create a new Province </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="provinces?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.home.notFound">No provinces found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="provinces && provinces.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="provinceId">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.provinceId">Province Id</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="provinceCode">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.provinceCode">Province Code</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="provinceName">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.provinceName">Province Name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="provinceEnglishName">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.provinceEnglishName"
              >Province English Name</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="diallingCode">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.diallingCode">Dialling Code</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="country.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationProvince.country">Country</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let province of provinces; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/jhipstersampleapplication/province', province.id, 'view']">{{ province.id }}</a>
          </td>
          <td>{{ province.provinceId }}</td>
          <td>{{ province.provinceCode }}</td>
          <td>{{ province.provinceName }}</td>
          <td>{{ province.provinceEnglishName }}</td>
          <td>{{ province.diallingCode }}</td>
          <td>
            <div *ngIf="province.country">
              <a [routerLink]="['/country', province.country?.id, 'view']">{{ province.country?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/province', province.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/province', province.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(province)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="provinces && provinces.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
