<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="language">
      <h2 data-cy="languageDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationLanguage.detail.title">Language</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ language.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationLanguage.languageId">Language Id</span></dt>
        <dd>
          <span>{{ language.languageId }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationLanguage.languageIsoCode">Language Iso Code</span>
        </dt>
        <dd>
          <span>{{ language.languageIsoCode }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationLanguage.languageName">Language Name</span></dt>
        <dd>
          <span>{{ language.languageName }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationLanguage.languageEnglishName"
            >Language English Name</span
          >
        </dt>
        <dd>
          <span>{{ language.languageEnglishName }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationLanguage.isActive">Is Active</span></dt>
        <dd>
          <span>{{ language.isActive }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationLanguage.sortOrder">Sort Order</span></dt>
        <dd>
          <span>{{ language.sortOrder }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/jhipstersampleapplication/language', language.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
