<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="employeeContact">
      <h2 data-cy="employeeContactDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationEmployeeContact.detail.title">Employee Contact</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ employeeContact.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationEmployeeContact.employeeContactId"
            >Employee Contact Id</span
          >
        </dt>
        <dd>
          <span>{{ employeeContact.employeeContactId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationEmployeeContact.employeeId">Employee Id</span></dt>
        <dd>
          <span>{{ employeeContact.employeeId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationEmployeeContact.contactType">Contact Type</span></dt>
        <dd>
          <span>{{ employeeContact.contactType }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationEmployeeContact.contact">Contact</span></dt>
        <dd>
          <span>{{ employeeContact.contact }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/jhipstersampleapplication/employee-contact', employeeContact.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
