<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-city-heading"
        data-cy="CityCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationCity.home.createOrEditLabel"
      >
        Create or edit a City
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationCity.cityId" for="field_cityId"
            >City Id</label
          >
          <input type="number" class="form-control" name="cityId" id="field_cityId" data-cy="cityId" formControlName="cityId" />
          <div *ngIf="editForm.get('cityId')!.invalid && (editForm.get('cityId')!.dirty || editForm.get('cityId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cityId')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('cityId')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationCity.cityCode" for="field_cityCode"
            >City Code</label
          >
          <input type="text" class="form-control" name="cityCode" id="field_cityCode" data-cy="cityCode" formControlName="cityCode" />
          <div *ngIf="editForm.get('cityCode')!.invalid && (editForm.get('cityCode')!.dirty || editForm.get('cityCode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cityCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationCity.cityName" for="field_cityName"
            >City Name</label
          >
          <input type="text" class="form-control" name="cityName" id="field_cityName" data-cy="cityName" formControlName="cityName" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationCity.cityEnglishName"
            for="field_cityEnglishName"
            >City English Name</label
          >
          <input
            type="text"
            class="form-control"
            name="cityEnglishName"
            id="field_cityEnglishName"
            data-cy="cityEnglishName"
            formControlName="cityEnglishName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationCity.district" for="field_district"
            >District</label
          >
          <select class="form-control" id="field_district" data-cy="district" name="district" formControlName="district">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="districtOption.id === editForm.get('district')!.value?.id ? editForm.get('district')!.value : districtOption"
              *ngFor="let districtOption of districtsSharedCollection; trackBy: trackDistrictById"
            >
              {{ districtOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
