<div>
  <h2 id="page-heading" data-cy="JobOpeningHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobOpening.home.title">Job Openings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobOpening.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-job-opening"
        [routerLink]="['/jhipstersampleapplication/job-opening/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobOpening.home.createLabel">
          Create a new Job Opening
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="jobOpenings?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobOpening.home.notFound">No jobOpenings found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="jobOpenings && jobOpenings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="postingTitle">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobOpening.postingTitle">Posting Title</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="jobStatus">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobOpening.jobStatus">Job Status</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="hiringLead">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobOpening.hiringLead">Hiring Lead</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="departmentId">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobOpening.departmentId">Department Id</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employmentType">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobOpening.employmentType">Employment Type</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="minimumExperience">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobOpening.minimumExperience"
              >Minimum Experience</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="jobDescription">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobOpening.jobDescription">Job Description</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jobOpening of jobOpenings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/jhipstersampleapplication/job-opening', jobOpening.id, 'view']">{{ jobOpening.id }}</a>
          </td>
          <td>{{ jobOpening.postingTitle }}</td>
          <td>{{ jobOpening.jobStatus }}</td>
          <td>{{ jobOpening.hiringLead }}</td>
          <td>{{ jobOpening.departmentId }}</td>
          <td>{{ jobOpening.employmentType }}</td>
          <td>{{ jobOpening.minimumExperience }}</td>
          <td>{{ jobOpening.jobDescription }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/job-opening', jobOpening.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/job-opening', jobOpening.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(jobOpening)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="jobOpenings && jobOpenings.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
