<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="assetAssign">
      <h2 data-cy="assetAssignDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationAssetAssign.detail.title">Asset Assign</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ assetAssign.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationAssetAssign.assetId">Asset Id</span></dt>
        <dd>
          <span>{{ assetAssign.assetId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationAssetAssign.employeeId">Employee Id</span></dt>
        <dd>
          <span>{{ assetAssign.employeeId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationAssetAssign.assignDate">Assign Date</span></dt>
        <dd>
          <span>{{ assetAssign.assignDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationAssetAssign.returnDate">Return Date</span></dt>
        <dd>
          <span>{{ assetAssign.returnDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/jhipstersampleapplication/asset-assign', assetAssign.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
