<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-continent-heading"
        data-cy="ContinentCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationContinent.home.createOrEditLabel"
      >
        Create or edit a Continent
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationContinent.continentId"
            for="field_continentId"
            >Continent Id</label
          >
          <input
            type="number"
            class="form-control"
            name="continentId"
            id="field_continentId"
            data-cy="continentId"
            formControlName="continentId"
          />
          <div *ngIf="editForm.get('continentId')!.invalid && (editForm.get('continentId')!.dirty || editForm.get('continentId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('continentId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('continentId')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationContinent.continentCode"
            for="field_continentCode"
            >Continent Code</label
          >
          <input
            type="text"
            class="form-control"
            name="continentCode"
            id="field_continentCode"
            data-cy="continentCode"
            formControlName="continentCode"
          />
          <div
            *ngIf="
              editForm.get('continentCode')!.invalid && (editForm.get('continentCode')!.dirty || editForm.get('continentCode')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('continentCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationContinent.continentName"
            for="field_continentName"
            >Continent Name</label
          >
          <input
            type="text"
            class="form-control"
            name="continentName"
            id="field_continentName"
            data-cy="continentName"
            formControlName="continentName"
          />
          <div
            *ngIf="
              editForm.get('continentName')!.invalid && (editForm.get('continentName')!.dirty || editForm.get('continentName')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('continentName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationContinent.continentEnglishName"
            for="field_continentEnglishName"
            >Continent English Name</label
          >
          <input
            type="text"
            class="form-control"
            name="continentEnglishName"
            id="field_continentEnglishName"
            data-cy="continentEnglishName"
            formControlName="continentEnglishName"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
