<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="village">
      <h2 data-cy="villageDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationVillage.detail.title">Village</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ village.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationVillage.villageId">Village Id</span></dt>
        <dd>
          <span>{{ village.villageId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationVillage.villageCode">Village Code</span></dt>
        <dd>
          <span>{{ village.villageCode }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationVillage.villageName">Village Name</span></dt>
        <dd>
          <span>{{ village.villageName }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationVillage.villageEnglishName">Village English Name</span>
        </dt>
        <dd>
          <span>{{ village.villageEnglishName }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationVillage.ruralDistrict">Rural District</span></dt>
        <dd>
          <div *ngIf="village.ruralDistrict">
            <a [routerLink]="['/rural-district', village.ruralDistrict?.id, 'view']">{{ village.ruralDistrict?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/jhipstersampleapplication/village', village.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
